body {
    background-image: url(images/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:hsl(225, 100%, 94%) ;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font: inherit;
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

.card {
   width: 24rem;
   background-color: white;
   color: hsl(224, 23%, 55%);
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
}

/* Card image */

.card__image img {
   width: 100%  ;
   border-radius: 1rem 1rem 0 0;
}

/* Card main copy */

.card__copy {
    text-align: center;
    width: 80%;
    color: hsl(224, 23%, 55%);
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.card__copy h1 {
    color: hsl(223, 47%, 23%);
}

.card__copy p {
    font-weight: 500;
}

/* Card plan */

.card__plan {
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    box-sizing:border-box;
    font-size: 0.9em;
    padding: 1rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan {
    display: flex;
    align-items: center;
}

.plan__icon {
    display: flex;
}

.plan__icon img {
    width: 3em;
}

.plan__info {
    margin: 0 1rem ;
}

.plan__info h2 {
    font-size: 0.9rem;
    color: hsl(223, 47%, 23%);
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.plan__info p {
    margin: 0;
}

.plan__change a {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-size: 0.85rem;
}

/* Card button */

.card__button {
    width: 80%;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    font: inherit;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* Cancel order */

.card__cancel {
    margin-bottom: 1.5rem;
    color: hsl(224, 23%, 55%);
    font-size: 0.9rem;
}

/* Hover states */

.plan__change a:hover {
    opacity: 70%;
    text-decoration: none;
    transition: 0.3s;
}

.card__button:hover {
    opacity: 70%;
    transition: 0.3s;
}

.card__cancel a:hover {
    color: hsl(223, 47%, 23%);
    transition: 0.3s;
}



/* Responsive media queries */

@media screen and (max-width: 375px) {
    body {
        background-image: url(images/pattern-background-mobile.svg) ; 
    }

    .card {
        width: 20.3rem;
    }

    .card__copy, .card__plan, .card__button {
        width: 85%;
    }
    
}

@media screen and (max-width: 300px) {

    .card__plan {
        flex-direction: column;
    }
    
}
