body {
    background-image: url(images/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:hsl(225, 100%, 94%) ;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
   width: 325px;
   background-color: white;
   color: hsl(224, 23%, 55%);
   margin: auto;
   /* padding: 24px; */
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}

/* Card image */

.card__image img {
   width: 100%  ;
   border-radius: 16px 16px 0 0;
}

/* Card main copy */

.card__copy {
    text-align: center;
    width: 85%;
    color: hsl(224, 23%, 55%);
    line-height: 1.75em;
}

.card__copy h1 {
    color: hsl(223, 47%, 23%);
}

.card__copy p {
    font-weight: 500;
}

/* Card plan */

.card__plan {
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    font-size: 0.9em;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan {
    display: flex;
    align-items: center;
}

.plan__info {
    margin: 0 1em ;
}

.plan__info h2 {
    font-size: 1em;
    color: hsl(223, 47%, 23%);
    margin-top: 0;
    margin-bottom: 0.2em;
}

.plan__info p {
    margin: 0;
}

.plan__change a {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}



/* Responsive media queries */

@media screen and (min-width: 375px) {
    body {
        background-image: url(images/pattern-background-mobile.svg) ; 
    }
    
}




/* Attribution */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}