

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

/* Main card container */

.cardContainer {
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Card hero image */

.cardHeroImage {
    width: 300px;
    border-radius: 8px;
}

/* Main card content */

.cardInformation {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 200;
    color: hsl(215, 51%, 70%);
}

.cardPrice, .cardTime {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPrice h2 {
font-size: 14px;
font-weight: 600;
color: hsl(178, 100%, 50%);
}

.cardTime h3 {
    font-size: 14px;
    font-weight: 200;
    color: hsl(215, 51%, 70%);
}

.cardIcon {
    height: 14px;
    margin-right: 6px;
}

hr {
    border: 1px solid hsl(215, 51%, 70%);;
}

/* Card footer */

.cardFooter {
    display: flex;
    align-items: center;
}

.cardFooter h4 {
    font-size: 14px;
    font-weight: 200;
    color: hsl(215, 51%, 70%);;
}

.cardFooterAvatar {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border: 1px solid white;
    border-radius: 50%;
}

.cardFooter a {
    font-weight: 400;
}

/* Hover state */
.heroImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImageOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(178, 100%, 50%);
    height: 300px;
    width: 300px;
    border-radius: 8px;
    opacity: 0;
    transition: 0.3s;
}

.heroImageOverlay:hover {
    opacity: 75%;
}

a:hover {
    color: hsl(178, 100%, 50%);
    transition: 0.3s;
}
